.background{
  background-image: linear-gradient(rgb(144, 242, 247), rgb(231, 237, 238));

}

  /* carousel */

  .carousel {
    color:black;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;

  }
  .caption1 {
    color: black;
      font-weight: bold;
      text-shadow: 2px 1px rgb(6, 6, 6);
      z-index: 5;
  }
 
  /* About*/
  .aboutcontainer{
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;
  }
  .pacoprofile{
    display:column;
    justify-content: space-between;
    text-align: center;
    color:rgb(8, 8, 8);
    text-shadow: 2px 1px #a0a3a8;
  }
  .pacoimg{
    height:200px;
    width:auto;
    object-fit:contain;
    border-radius: 50%;
    border: 5px solid #84a7ee;
  }
  .aboutfont{
    font-family: 'Kaisei Tokumin', serif;
    font-size: 15px;
  }

  /* Form */
  .form{    
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }

  /* Resources*/
  .resourcesQuote{
    font-size: 50px;
    text-shadow:1px 1px rgb(144, 242, 247);
    text-align: center;
    margin-top: 10%;
    font-family: 'Dancing Script', cursive;
  }

  /* Prescribing card  */
 

  /* footer */

  .footer{
    position:fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(229, 249, 249);
  }
  .columnContent{
    text-align: center;
  }
  .iglogo{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }
  .linkedin{
    background:#0e76a8;
  }
  

  